# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Ambienti Virtuali (se ne usi uno per sviluppare)
venv/
.env
.venv

# File di sistema macOS / Windows
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE e Editor (VSCode, PyCharm, ecc.)
.vscode/
.idea/
*.swp
*.swo
*~

# Cache e test di Home Assistant / Python
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/